version: '3.8'

services:
  ntools-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ntools-api
    ports:
      - "5001:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - MailerSend__MailSender=${MAILERSEND__MAILSENDER}
      - MailerSend__ApiURL=${MAILERSEND__APIURL}
      - MailerSend__ApiToken=${MAILERSEND__APITOKEN}
      - S3__AccessKey=${S3__ACCESSKEY}
      - S3__SecretKey=${S3__SECRETKEY}
      - S3__Endpoint=${S3__ENDPOINT}
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - ntools-network

networks:
  ntools-network:
    driver: bridge
